.loader {
  height: 50px;
  margin-top: 50px;
  pointer-events: none;
  animation: loader-spin infinite 1s linear;
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gallery {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  max-height: 200px;
  margin: 10px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image {
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
}
